<h1>List of users</h1>
<form action="/insert_user_record">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">
  <button>Add user</button>
</form>
<hr>
<table border="1">
  <tr>
    <th>
      Username
    </th>
    <th>
      Private?
    </th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.username %>
      </td>
      <td>
        <% if user.private == true %>
          <%= "Yes" %>
        <% else %>
          <%= "No" %>
        <% end %>
      </td>
      <% if @current_user != nil %>
        case user.status
        when ""
        <td>
          <form action="/insert_follow_request" method="post">
            <input type="hidden" name="query_status" value="pending">
            <input type="hidden" name="query_recipient_id" value="<%= user.id %>">
            <input type="hidden" name="query_sender_id" value="<%= @current_user.id %>">
            <button>
              Follow
            </button>
          </form>
        </td>
        when "pending"
        <td>
          <a href="/users/<%= user.username %>">Cancel request</a>
        </td>
        else
      <% end %>
    <% end %>
    <td>
      <a href="/users/<%= user.username %>">Show details</a>
    </td>
  </tr>
<% end %>
</table>
