<h1><%= @user.username %></h1>
<dl>
  <dt>Private</dt>
  <dd><%= @user.private %></dd>
  <dt>Followers</dt>
  <dd><%= @user.followers.count %></dd>
  <dt>Following</dt>
  <dd><%= @user.following.count %></dd>
  <dt>Edit user</dt>
  <% if @current_user != nil %>
    <% if @user.username == @current_user.username %>
      <dd>
        <form action="/modify_photo/@the_photo.id" method="post" >
          <label for="browser_image">Image URL</label>
          <input id="browser_image" type="file" name="query_image" placeholder="Enter a URL for the image..." value="https://robohash.org/eligendiprovidentsed">
          <label for="browser_caption">Caption</label>
          <textarea id="browser_caption" name="query_caption" placeholder="Enter a caption for the photo...">Every flight begins with a fall.</textarea>
          <button>Update User</button>
        </form>
      </dd>
    <% end %>
  <% end %>
</dl>
<nav>
  <ul>
    <li>
      <a href="/users/<%= @user.username %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @user.username %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @user.id %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @user.id %>/discover">Discover</a>
    </li>
  </ul>
</nav>
<h2>Own photos (<%= @user.own_photos.count %>)</h2>
<table border="1">
  <tr>
    <th>
      Image
    </th>
    <th>
      Owner
    </th>
    <th>
      Caption
    </th>
    <th>
      Posted
    </th>
    <th>
      Likes
    </th>
    <th></th>
  </tr>
  <% @user.own_photos.each do |photo| %>
    <tr>
      <td>
        <img src="<%= photo.image %>">
      </td>
      <td>
        <%= photo.poster.username %>
      </td>
      <td>
        <%= photo.caption %>
      </td>
      <td>
        <%= time_ago_in_words(photo.created_at) %> ago
      </td>
      <td>
        <%= photo.likes.count %>
      </td>
      <td>
        <a href="/photos/<%= photo.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
